/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body#admin {
  padding-top: 0px;
  min-height: 0px;

}
/*
 * Global add-ons
 */

.sub-header.admin {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

#navbar > ul > li {
  padding-right: 5px;
}

.navbar-default.admin, .navbar-text.admin{
  color: #FDFDFD;
}

.navbar-btn.admin{
  margin-right: 10px;
  background-color: #A9C2E1;
  color: #1B4074;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: 0px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  background-color: #F7F7F7;
  border-radius:4px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #1B4074;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #F5F5F5;
  background-color: #1B4074;
}

hr {
  color:#1B4074
}

.page-header, .sub-header{
  border-color: #a9c2e1;
}

.affix-top {
}

.affix-top.ui-scrollfix {

}


/*
 * Main content
 */

.admin.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .affix-top {
    position: absolute;
    width: 90%;
  }

  .affix-top.ui-scrollfix {
    position: fixed;
    margin-top:-60px;
    width: 14.95%;
  }
  .main.admin {
    padding-right: 40px;
    padding-left: 40px;
  }
  .sidebar {
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  border-raidus: 4px;
  height:350px;
  }
}
.main .page-header {
  margin-top: 0;
}

.tops{
  text-align: center;
  padding: 0px 5px 0px 5px;
  margin-bottom: 40px;
}

.quick{
  padding-left:38px;
  margin-bottom: 0px;
}

.quick:hover{
  background-color: #F0EFEF;
}

.quick-item{
  margin-left:15px;
}

.quick-item > li {
  padding: 0 0 0 0;
}

.quick-item > li > .btn {
  padding: 1px 7px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 90%;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}
.dragover {
    border: 5px dashed blue;
}
.acceptDrag {
  background-color: red;
}

.view-title {
  float: left;
  margin-top: 9px;
}

.bulk-button{
  float: right;
  margin: 0px 5px 5px 0px;
}

.view-btn {
  width: 19%;
}