<!-- row -->
<div class="row">
  <!-- content column -->
  <div class="col-sm-12">
    <!-- cotent row -->
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/#/home">Home</a></li>
        <li class="active">{{post.title}}</li>
      </ol>
      <!-- full blog -->
      <div class="col-sm-12 main">
        <div class="blog-post" style="height: auto;">
          <h2 class="blog-title">{{post.title}}</h2>
          <p class="blog-meta">{{post.date | date:'MMMM d yyyy'}}</p>
          <p ng-bind-html="full(post)"></p>
          <hr>
          <ul class="tags-list">Tags:
            <li ng-repeat="tag in post.tags">
            <a ui-sref="base.home({specTag: tag})">{{tag}}{{comma($last)}} </a></li>
          </ul>
        </div>
        <div class="comments">
          <h2 class="comment-header">Comments</h2>
          <blockquote ng-repeat="comment in post.comments">
            <p class="comment-text">{{comment.content}}<span class="comment-user"><i class="fa fa-lg fa-chevron-right"></i> {{comment.author}}</span></p>
          </blockquote>
          <form ng-show="isLoggedIn()" ng-submit="addComment()">
            <h3> Create new Comment </h3>
            <div class="form-group">
              <label class="sr-only" for="content"> Comment Text: </label>
              <textarea rows="2" class="form-control" placeholder="Comment Text" id="content" ng-model="content"></textarea>
              <input ng-model="dateTime" type="hidden"></input>
            </div>
            <button type="submit" class="btn btn-primary btn-center">Submit</button>
          </form>
          <form ng-hide="isLoggedIn()" class="form" name="form" ng-submit="login(form)" novalidate>
              <h4>Log In to Comment</h4>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email address" required>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
              <div class="form-group has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                   Please enter your email and password.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                   Please enter a valid email.
                </p>

                <p class="help-block">{{ errors.other }}</p>
              </div>

              <button class="btn btn-primary btn-block" type="submit">Sign in</button>
              <button class="btn btn-default btn-block" ui-sref="register">Register</button>
            </form>
          </div>
        </div>
      </div> <!-- end full blog -->
    </div>
  </div> <!-- content column -->
  <!-- sidebar column -->
</div> <!-- end row -->
