 <div class="col-xs-12 col-sm-10 col-sm-offset-2">
  <h2>Create {{type}}</h2>
  <form class="form-horizontal" ng-submit="send()">
    <div class="form-group">
      <label for="form-date" class="col-md-1 control-label">Date:</label>
      <div class="col-md-4">
        <p class="form-control-static input-lg">{{dateTime | date:'MMMM dd, yyyy @ HH:mma'}}</p>
        <div collapse="isCollapsed">
          <timepicker ng-model="dateTime" show-meridian="false"></timepicker>
          <datepicker ng-model="dateTime" datepicker-mode="day" show-weeks="false"></datepicker>
        </div>
        <input ng-model="dateTime" type="hidden"></input>
      </div>
      <div class="col-md-1">
        <input type="button" class="btn" ng-click="isCollapsed = !isCollapsed" value="Edit Date"></input>
      </div>
      <div ng-hide="isDraft">
        <div class="col-md-2">
          <input type="submit" class="btn btn-block btn-lg btn-success" ng-click="send('published')" value="{{subText}}"></input>
        </div>
        <div class="col-md-2">
          <input type="button" class="btn btn-block btn-lg btn-warning" ng-click="send('draft')" value="Draft"></input>
        </div>
      </div>
      <div ng-show="isDraft">
        <div class="col-md-2">
          <input type="submit" class="btn btn-block btn-lg btn-warning" ng-click="send('draft')" value="Save Draft"></input>
        </div>
        <div class="col-md-2">
          <input type="button" class="btn btn-block btn-lg btn-success" ng-click="send('published')" value="Publish"></input>
        </div>
      </div>
      <div class="col-md-2">
        <input type="button" class="btn btn-block btn-lg btn-danger" value="Delete"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="form-title" class="col-md-1 control-label">Title: </label>
      <div class="col-md-5">
        <input type="text" class="form-control input-lg" id="form-title" ng-model="title"></input>
      </div>
      <label for="form-meta" class="control-label col-md-1">Tags:</label>
      <div class="col-md-5">
        <input type="text" class="form-control input-lg" id="form-tags" ng-model="tags"></input>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="form-post" class="control-label">Content: </label>
        <textarea class="form-control input-lg" id="form-post" rows="15" ng-model="content"></textarea>
      </div>
    </div>
  </form>
  <div class="row">
    <h2>Preview:</h2>
    <div class="col-md-12" ng-bind-html="fixedContent()">
    </div>
  </div>
</div>
