<!-- row -->
<div class="row">
  <!-- content column -->
  <div class="col-sm-10">
    <!-- cotent row -->
    <div class="row">
      <ol ng-show="tagFilt" class="breadcrumb">
        <li><a ui-sref="base.home({specTag: ''})">All</a></li>
        <li class="active">{{tagFilt}}</li>
      </ol>
      <!-- blog mix -->
      <div class="col-sm-7 main">
        <div class="blog-post" ng-repeat="post in posts | dateMonth:dateFilt | tag:tagFilt | orderBy:predicate:reverse | offset:visiblePosts | limitTo:5" ng-show="extendPost($index)">
          <h2 class="blog-title"><a ng-href="post/{{post.link}}">{{post.title}}</a></h2>
          <p class="blog-meta">{{post.date | date:'MMMM dd yyyy'}} | Tags:<a ui-sref="base.home({specTag: tag})" ng-repeat="tag in post.tags">{{tag}}{{comma($last)}} </a></p>
          <p ng-bind-html="postSmall(post)"></p>
          <div ng-switch="post.visibleMore">
            <a ng-switch-when="true" ng-href="post/{{post.link}}"><p class="readmore">Read More<br /><i class="fa fa-4x fa-ellipsis-h"></i></p></a>
            <hr ng-switch-when="false">
          </div>
        </div><!-- /.blog-post -->
      </div> <!-- end blog mix -->
      <!-- picture mixed -->
      <div class="col-sm-5 main img-main">
        <button type="button" class="image-button" ng-repeat="img in images | dateMonth:dateFilt | tag:tagFilt | orderBy:predicate:reverse | offset:visibleImages | limitTo:10" ng-click="viewImg($index)" class="btn btn-default"><img class="img-responsive" ng-src="assets/images/{{img.thumb}}"></button>
      </div> <!-- end picture mixed -->
    </div> <!-- end content row -->
    <div class="row">
      <!-- full blog -->
      <div class="col-sm-12 main">
        <div class="blog-post-full" ng-repeat="post in posts | dateMonth:dateFilt | tag:tagFilt | orderBy:predicate:reverse | offset:visiblePosts | limitTo:5" ng-hide="extendPost($index)">
          <h2 class="blog-title"><a ng-href="post/{{post.link}}">{{post.title}}</a></h2>
          <p class="blog-meta">{{post.date | date:'MMMM dd yyyy'}} | Tags:<a ui-sref="base.home({specTag: tag})" ng-repeat="tag in post.tags">{{tag}}{{comma($last)}} </a></p>
          <p ng-bind-html="postMid(post)"></p>
          <div ng-switch="post.visibleMore">
            <a ng-switch-when="true" ng-href="post/{{post.link}}"><p class="readmore">Read More<br /><i class="fa fa-4x fa-ellipsis-h"></i></p></a>
            <hr ng-switch-when="false">
          </div>
        </div>
        <nav>
          <ul class="pager">
          <li><a href="home/#top" ng-click="adjust(-5, -10)" ng-hide="adjustCheck(-5, visiblePosts)">Previous</a></li>
          <li><a href="home/#top" ng-hide="adjustCheck(5, visiblePosts)" ng-click="adjust(5, 10)">Next</a></li>
          </ul>
        </nav>
      </div> <!-- end full blog -->
    </div>
  </div> <!-- content column -->
  <!-- sidebar column -->
  <div class="col-sm-2 blog-sidebar">
    <div class="sidebar-module">
      <h4>About</h4>
      <p>I enjoy coding, computers, boardgames, books, learning, and many more geeky and technical things, and I go forward with the full pleasure and acceptance of the fact that computers, smartphones, and the internet make my life easier and are increasingly intergrated into my "real world" life. Some people may find this daunting, but I thrive in it.</p>
    </div>
    <div class="sidebar-module">
      <h4>Images</h4>
      <p><a href="images">View all images in grid format </a></p>
    </div>
    <div class="sidebar-module">
      <h4>Archives</h4>
      <ol class="list-unstyled">
        <li><button ng-click="dateFilter(-1)">All </button></li>
        <!-- <li><button ng-click="dateFilter(0)">January </button></li>
        <li><button ng-click="dateFilter(1)">February </button></li>
        <li><button ng-click="dateFilter(2)">March </button></li> -->
        <li><button ng-click="dateFilter(3)">April </button></li>
        <!-- <li><button ng-click="dateFilter(4)">May </button></li>
        <li><button ng-click="dateFilter(5)">June </button></li>
        <li><button ng-click="dateFilter(6)">July </button></li>
        <li><button ng-click="dateFilter(7)">August </button></li>
        <li><button ng-click="dateFilter(8)">September </button></li>
        <li><button ng-click="dateFilter(9)">October </button></li>
        <li><button ng-click="dateFilter(10)">November </button></li>
        <li><button ng-click="dateFilter(11)">December </button></li> -->
        </li>
      </ol>
    </div>
    <div class="sidebar-module" ng-hide="isLoggedIn()">
      <h4>Log In</h4>
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email address" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-default btn-block" ui-sref="register">Register</button>
      </form>
    </div>
  </div> <!-- end sidebar column -->
</div> <!-- end row -->
