<div class="col-sm-10 col-sm-offset-2 main">
      <div class="row">
        <div class="col-sm-4 tops">
          <h4>Top Posts</h4>
          <table class="table table-condensed table-bordered table-hover">
            <thead>
              <tr>
                <th>Views</th>
                <th>Title</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="post in posts | orderBy:'-views' | limitTo:8">
                <td>{{post.views}}</td>
                <td>{{post.title}}</td>
                <td ng-show="post.update === 'published'"><a ng-href="post/{{post.link}}">View</a></td>
                <td ng-hide="post.update === 'published'"><a ui-sref="admin.quickAdd({post:post, type:'posts', draft:true})">Edit</a></td>
              </tr>
            </tbody>
          </table>
          <button ng-click="goTo('posts')">View All Posts</button>
        </div>
        <div class="col-sm-4 tops">
          <h4>Top Comments</h4>
          <table class="table table-condensed table-bordered table-hover">
            <thead>
              <tr>
                <th>Likes</th>
                <th>User</th>
                <th>Post</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="comment in comments | orderBy:'-likes' | limitTo:8">
                <td>{{comment.likes}}</td>
                <td>{{comment.author}}</td>
                <td>{{comment.post.title}}</td>
                <td><a ng-href="post/{{comment.post.link}}">View</a></td>
              </tr>
            </tbody>
          </table>
          <button ng-click="goTo('comments')">View All Comments</button>
        </div>
        <div class="col-sm-4 tops">
          <h4>Top Images</h4>
          <table class="table table-condensed table-bordered table-hover">
            <thead>
              <tr>
                <th>Views</th>
                <th>Title</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="image in images | orderBy:'-views' | limitTo: 8">
                <td>{{image.views}}</td>
                <td>{{image.alt}}</td>
                <td><button ng-click="viewImg($index)" class="btn btn-default">View</button></td>
              </tr>
            </tbody>
          </table>
          <button ng-click="goTo('images')">View All Images</button>
        </div>
      </div> <!-- top views -->

    </div> <!-- content -->
